       * {
            box-sizing: border-box; /*make the layout of the page as a border-box */
        }
        body {
            font-family: sans-serif;
            padding: 20px;
            background-color: #f0f2f5;
        }

        /* The Parent Container */
        .flex-container {
            display: flex;         /* Enables Flexbox */
            flex-wrap: wrap;       /* Allows boxes to drop to the next line */
            gap: 20px;             /* Equal spacing between boxes */
            justify-content: center; /* Centers boxes if they don't fill a row */
        }

        /* The Individual Boxes */
        .box {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            border: 2px solid #007BFF;
            text-align: center;
            
            flex: 1 1 150px; /* sets flex-gow to 1, flex-shrink to 1 and flex-basis to 150px- each element will be 150px width*/
            
                    }

        h2 { color: #007BFF; }
